* {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}

.container {
    background-color: #7289da;
    padding-top: 10%;
    padding-bottom: 10%;
}

.title {
    text-align: center;
    color: white;
    padding: auto;
}

.icon img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    top: -10px;
    right: -10px;
}

.icon {
    vertical-align: middle;
    margin-bottom: .325rem;
}


@media (max-width: 952px) {
    
}

@media (max-width: 858px) {

    .title {
        font-size: 30px;
        
    }
}