* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Arial;
}

nav {
  background: #1f2222;
  height: 80px;
  width: 100%;
  list-style: none;
  box-sizing: border-box;
}

label.navbar-title {
  color: white;
  font-size: 26px;
  line-height: 80px;
  padding: 0 100px;
  padding-right: 4px;
}

.navbar-icon {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
}

a.active, a:hover {
  background-color: #2c2f33;
  transition: .5s;
}

.navbar-button {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#navbar-checkbox {
  display: none;
}

@media (max-width: 952px) {
  
  label.navbar-title {
    font-size: 26px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {

  .navbar-button {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c2f33;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 30px;
  }

  a:hover, a.active {
    background-color: #1f2222;
  }

  #navbar-checkbox:checked ~ ul {
    left: 0;
  }
}

